@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  color: #6c757d;
  font-size: 18px;
}

header {
  width: 100%;
}
.container-in {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-center {
  display: flex;
  justify-content: center;
}

.human {
  width: 100;
  display: flex;
  justify-content: center;
}

#menu-toggle:checked + #menu {
  display: block;
}

.upload-form {
  width: 108%;
}

.text-leb {
  width: 100%;
  display: flex;
  justify-content: center;
}

.klasifikasi {
  box-shadow: #a1ffe0 0px 8px 24px;
}

.klasifikasi:hover {
  background-color: #049665;
}

@media only screen and (max-width: 768px) {
  .container-isi {
    width: 100%;
  }
  .about-team {
    width: 90%;
    display: flex;
    justify-content: center;
  }
}
