@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  color: #6c757d;
  font-size: 18px;
}

header {
  width: 100%;
}
.container-in {
  width: 100%;
  display: flex;
  justify-content: center;
}

.klas {
  width: 100%;
}

.main-center {
  display: flex;
  justify-content: center;
}

.human {
  width: 100;
  display: flex;
  justify-content: center;
}

#menu-toggle:checked + #menu {
  display: block;
}

nav {
  width: 100%;
}

.humberger {
  font-size: 22px;
  color: white;
}

.text-leb {
  width: 100%;
  display: flex;
  justify-content: center;
}

.klasifikasi {
  box-shadow: #9ec2ff 0px 8px 24px;
}

.klasifikasi:hover {
  background-color: #5690f5;
}

.warna {
  background-color: #f6f6f6;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

/* .sec1 {
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 50px 64px;
} */

@media only screen and (max-width: 768px) {
  .container-isi {
    width: 100%;
  }
  .about-team {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .sec1 {
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
  }

  .titlee {
    font-size: 30px;
  }
}
